<h3>Traits</h3>
<ul>
  {{#each data.traits as |trait key|}}
  <li class="item flexrow list-item" data-item-id="{{trait._id}}" data-item-type="traits">
    <span class="competence-label"><a class="trait-name">{{trait.name}}</a></span>
    <div class="item-controls">
      <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
    </div>
  </li>                  
  {{/each}}
</ul>          
</select> 
